.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.field > p{
  flex: 0.5;
}

.genderInput {
  display: flex;
  flex: 0.5;
  justify-content: space-between;
  align-items: center;
}

.gender {
  display: flex;
  align-items: center;
}

.gender > input {
  margin-right: 10px;
}

.agePicker > select {
  width: 100%;
  flex: 0.48;
  outline: none;
  padding: 10px;
  border: 2px solid #ebebeb;
  color: #999;
}

button {
  height: 32px;
  color: #fff;
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
  background-color: #da3214;
  margin: 5px 0;
  width: 100px;
  border: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: black;
}
